# üìä Explora√ß√£o dos Datasets - DataOps Governance Lab

Este notebook demonstra como carregar e explorar os datasets do projeto **TechCommerce** utilizados no curso de DataOps: Governan√ßa e Qualidade de Dados.

## üéØ Objetivos
- Carregar os 4 datasets principais do projeto
- Verificar a estrutura e quantidade de registros
- Realizar uma an√°lise inicial dos dados
- Identificar poss√≠veis problemas de qualidade

## üìö Importa√ß√£o das Bibliotecas

Primeiro, importamos a biblioteca **pandas** que ser√° utilizada para manipula√ß√£o e an√°lise dos dados.

In [3]:
import pandas as pd
import os

# Configura√ß√£o para melhor visualiza√ß√£o dos DataFrames
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 50)

## üìÅ Carregamento dos Datasets

Os datasets est√£o localizados na pasta `datasets/` e representam diferentes aspectos do neg√≥cio da **TechCommerce**:

- **clientes.csv**: Informa√ß√µes dos clientes
- **produtos.csv**: Cat√°logo de produtos
- **vendas.csv**: Transa√ß√µes de vendas
- **logistica.csv**: Dados de entrega e log√≠stica

In [5]:
# Definir o caminho base para os datasets
base_path = './datasets/'

# Carregar cada dataset usando pandas
clientes = pd.read_csv(f'{base_path}clientes.csv')
produtos = pd.read_csv(f'{base_path}produtos.csv')
vendas = pd.read_csv(f'{base_path}vendas.csv')
logistica = pd.read_csv(f'{base_path}logistica.csv')

## üìä An√°lise Quantitativa dos Datasets

Vamos verificar a quantidade de registros em cada dataset para ter uma vis√£o geral do volume de dados.

In [6]:
# Exibir a quantidade de registros em cada dataset
print(f"üìã Resumo dos Datasets:")
print(f"{'='*50}")
print(f"Clientes: {len(clientes)} registros")
print(f"Produtos: {len(produtos)} registros")
print(f"Vendas: {len(vendas)} registros")
print(f"Log√≠stica: {len(logistica)} registros")
print(f"{'='*50}")
print(f"Total de registros: {len(clientes) + len(produtos) + len(vendas) + len(logistica)}")

üìã Resumo dos Datasets:
==================================================
Clientes: 16 registros
Produtos: 20 registros
Vendas: 25 registros
Log√≠stica: 22 registros
==================================================
Total de registros: 83

## üîç Explora√ß√£o Detalhada por Dataset

Agora vamos analisar cada dataset individualmente para entender sua estrutura e identificar poss√≠veis problemas de qualidade.

### üë• Dataset: Clientes

Cont√©m informa√ß√µes dos clientes da TechCommerce.

In [7]:
print("üìã DATASET: CLIENTES")
print("="*50)
print(f"Dimens√µes: {clientes.shape}")
print(f"Colunas: {list(clientes.columns)}")
print("\nüìä Primeiros 5 registros:")
display(clientes.head())

print("\nüîç Informa√ß√µes do Dataset:")
clientes.info()

print("\n‚ö†Ô∏è Valores Nulos:")
print(clientes.isnull().sum())

üìã DATASET: CLIENTES
==================================================
Dimens√µes: (16, 8)
Colunas: ['id_cliente', 'nome', 'email', 'telefone', 'data_nascimento', 'cidade', 'estado', 'data_cadastro']

üìä Primeiros 5 registros:

,id_cliente,nome,email,telefone,data_nascimento,cidade,estado,data_cadastro
0,1,Jo√£o Silva,joao@email.com,11999887766,1985-03-15,S√£o Paulo,SP,2023-01-10
1,2,Maria Santos,NaN,11888776655,1990-07-22,Rio de Janeiro,RJ,2023-01-15
2,1,Jo√£o Silva,joao@email.com,11999887766,1985-03-15,S√£o Paulo,SP,2023-01-10
3,3,Pedro,pedro@invalid,119999,2000-12-01,Belo Horizonte,MG,2023-02-01
4,4,NaN,ana@email.com,11777665544,1995-05-30,S√£o Paulo,SP,2023-02-10

üîç Informa√ß√µes do Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_cliente       16 non-null     int64
 1   nome             14 non-null     object
 2   email            14 non-null     object
 3   telefone         16 non-null     int64
 4   data_nascimento  16 non-null     object
 5   cidade           16 non-null     object
 6   estado           16 non-null     object
 7   data_cadastro    16 non-null     object
dtypes: int64(2), object(6)
memory usage: 1.1+ KB

‚ö†Ô∏è Valores Nulos:
id_cliente         0
nome               2
email              2
telefone           0
data_nascimento    0
cidade             0
estado             0
data_cadastro      0
dtype: int64

### üõçÔ∏è Dataset: Produtos

Cat√°logo de produtos dispon√≠veis na loja.

In [10]:
print("üìã DATASET: PRODUTOS")
print("="*50)
print(f"Dimens√µes: {produtos.shape}")
print(f"Colunas: {list(produtos.columns)}")
print("\nüìä Primeiros 5 registros:")
display(produtos)

print("\nüîç Informa√ß√µes do Dataset:")
produtos.info()

print("\n‚ö†Ô∏è Valores Nulos:")
print(produtos.isnull().sum())

üìã DATASET: PRODUTOS
==================================================
Dimens√µes: (20, 7)
Colunas: ['id_produto', 'nome_produto', 'categoria', 'preco', 'estoque', 'data_criacao', 'ativo']

üìä Primeiros 5 registros:

,id_produto,nome_produto,categoria,preco,estoque,data_criacao,ativo
0,101,Smartphone XYZ,Eletr√¥nicos,899.99,50,2023-01-01,True
1,102,Notebook ABC,NaN,1299.99,25,2023-01-05,True
2,103,Mouse Gamer,Inform√°tica,-29.99,100,2023-01-10,True
3,104,Teclado Mec√¢nico,Inform√°tica,199.99,0,2023-01-15,False
4,105,Smartphone XYZ,Eletr√¥nicos,899.99,50,2023-01-01,True
5,106,NaN,Casa e Jardim,45.90,200,2023-01-20,True
6,107,Headset Gamer,Inform√°tica,299.99,-10,2023-01-25,True
7,108,Monitor 24 pol,Eletr√¥nicos,599.99,15,2023-02-01,True
8,109,Cadeira Gamer,M√≥veis,799.99,8,2023-02-05,True
9,110,Webcam HD,Inform√°tica,0.00,30,2023-02-10,True
10,111,Microfone USB,Eletr√¥nicos,149.99,25,2023-02-15,True
11,112,Tablet Android,Eletr√¥nicos,399.99,12,2023-02-20,True
12,113,Carregador Wireless,Acess√≥rios,89.99,100,2023-02-25,True
13,114,Cabo HDMI,Acess√≥rios,25.99,500,2023-03-01,True
14,115,SSD 1TB,Inform√°tica,299.99,20,2023-03-05,True
15,116,Mem√≥ria RAM 16GB,Inform√°tica,399.99,15,2023-03-10,True
16,117,Placa de V√≠deo,Inform√°tica,1599.99,5,2023-03-15,True
17,118,Processador Intel,Inform√°tica,899.99,10,2023-03-20,True
18,119,Fonte 650W,Inform√°tica,199.99,25,2023-03-25,True
19,120,Gabinete Gamer,Inform√°tica,299.99,18,2023-04-01,True

üîç Informa√ß√µes do Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_produto    20 non-null     int64
 1   nome_produto  19 non-null     object
 2   categoria     19 non-null     object
 3   preco         20 non-null     float64
 4   estoque       20 non-null     int64
 5   data_criacao  20 non-null     object
 6   ativo         20 non-null     bool
dtypes: bool(1), float64(1), int64(2), object(3)
memory usage: 1.1+ KB

‚ö†Ô∏è Valores Nulos:
id_produto      0
nome_produto    1
categoria       1
preco           0
estoque         0
data_criacao    0
ativo           0
dtype: int64

### üí∞ Dataset: Vendas

Transa√ß√µes de vendas realizadas na plataforma.

In [11]:
print("üìã DATASET: VENDAS")
print("="*50)
print(f"Dimens√µes: {vendas.shape}")
print(f"Colunas: {list(vendas.columns)}")
print("\nüìä Primeiros 5 registros:")
display(vendas.head())

print("\nüîç Informa√ß√µes do Dataset:")
vendas.info()

print("\n‚ö†Ô∏è Valores Nulos:")
print(vendas.isnull().sum())

üìã DATASET: VENDAS
==================================================
Dimens√µes: (25, 8)
Colunas: ['id_venda', 'id_cliente', 'id_produto', 'quantidade', 'valor_unitario', 'valor_total', 'data_venda', 'status']

üìä Primeiros 5 registros:

,id_venda,id_cliente,id_produto,quantidade,valor_unitario,valor_total,data_venda,status
0,1001,1,101,2,899.99,1799.98,2023-03-01,Conclu√≠da
1,1002,2,102,1,1299.99,1299.99,2023-03-02,Pendente
2,1003,999,103,3,29.99,89.97,2023-03-03,Conclu√≠da
3,1004,1,104,-1,199.99,-199.99,2023-03-04,Cancelada
4,1005,3,101,1,899.99,899.99,2024-12-31,Processando

üîç Informa√ß√µes do Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_venda        25 non-null     int64
 1   id_cliente      25 non-null     int64
 2   id_produto      25 non-null     int64
 3   quantidade      25 non-null     int64
 4   valor_unitario  25 non-null     float64
 5   valor_total     25 non-null     float64
 6   data_venda      25 non-null     object
 7   status          25 non-null     object
dtypes: float64(2), int64(4), object(2)
memory usage: 1.7+ KB

‚ö†Ô∏è Valores Nulos:
id_venda          0
id_cliente        0
id_produto        0
quantidade        0
valor_unitario    0
valor_total       0
data_venda        0
status            0
dtype: int64

### üöö Dataset: Log√≠stica

Dados de entrega e log√≠stica dos pedidos.

In [12]:
print("üìã DATASET: LOG√çSTICA")
print("="*50)
print(f"Dimens√µes: {logistica.shape}")
print(f"Colunas: {list(logistica.columns)}")
print("\nüìä Primeiros 5 registros:")
display(logistica.head())

print("\nüîç Informa√ß√µes do Dataset:")
logistica.info()

print("\n‚ö†Ô∏è Valores Nulos:")
print(logistica.isnull().sum())

üìã DATASET: LOG√çSTICA
==================================================
Dimens√µes: (22, 7)
Colunas: ['id_entrega', 'id_venda', 'transportadora', 'data_envio', 'data_entrega_prevista', 'data_entrega_real', 'status_entrega']

üìä Primeiros 5 registros:

,id_entrega,id_venda,transportadora,data_envio,data_entrega_prevista,data_entrega_real,status_entrega
0,2001,1001,Correios,2023-03-02,2023-03-05,2023-03-04,Entregue
1,2002,1002,Transportadora XYZ,2023-03-03,NaN,2023-03-10,Entregue
2,2003,1003,Correios,2023-03-04,2023-03-07,NaN,Em Tr√¢nsito
3,2004,1004,NaN,NaN,NaN,NaN,Cancelada
4,2005,1006,Correios,2023-03-07,2023-03-10,2023-03-09,Entregue

üîç Informa√ß√µes do Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_entrega             22 non-null     int64
 1   id_venda               22 non-null     int64
 2   transportadora         20 non-null     object
 3   data_envio             21 non-null     object
 4   data_entrega_prevista  20 non-null     object
 5   data_entrega_real      17 non-null     object
 6   status_entrega         22 non-null     object
dtypes: int64(2), object(5)
memory usage: 1.3+ KB

‚ö†Ô∏è Valores Nulos:
id_entrega               0
id_venda                 0
transportadora           2
data_envio               1
data_entrega_prevista    2
data_entrega_real        5
status_entrega           0
dtype: int64

## üìà An√°lise Consolidada

Vamos criar um resumo consolidado de todos os datasets para ter uma vis√£o geral.

In [13]:
# Criar um DataFrame resumo
datasets_info = {
    'Dataset': ['Clientes', 'Produtos', 'Vendas', 'Log√≠stica'],
    'Registros': [len(clientes), len(produtos), len(vendas), len(logistica)],
    'Colunas': [len(clientes.columns), len(produtos.columns), len(vendas.columns), len(logistica.columns)],
    'Valores_Nulos': [
        clientes.isnull().sum().sum(),
        produtos.isnull().sum().sum(),
        vendas.isnull().sum().sum(),
        logistica.isnull().sum().sum()
    ]
}

resumo_df = pd.DataFrame(datasets_info)

print("üìä RESUMO CONSOLIDADO DOS DATASETS")
print("="*60)
display(resumo_df)

# Calcular totais
total_registros = resumo_df['Registros'].sum()
total_colunas = resumo_df['Colunas'].sum()
total_nulos = resumo_df['Valores_Nulos'].sum()

print(f"\nüìã TOTAIS:")
print(f"Total de registros: {total_registros}")
print(f"Total de colunas: {total_colunas}")
print(f"Total de valores nulos: {total_nulos}")

üìä RESUMO CONSOLIDADO DOS DATASETS
============================================================

     Dataset  Registros  Colunas  Valores_Nulos
0   Clientes         16        8              4
1   Produtos         20        7              2
2     Vendas         25        8              0
3  Log√≠stica         22        7             10

üìã TOTAIS:
Total de registros: 83
Total de colunas: 30
Total de valores nulos: 16

## üéØ Pr√≥ximos Passos

Com esta explora√ß√£o inicial, identificamos:

1. **Volume de dados**: 83 registros distribu√≠dos em 4 datasets
2. **Estrutura**: Diferentes esquemas para cada tipo de dado
3. **Qualidade**: Presen√ßa de valores nulos que precisam ser tratados

### üîç Recomenda√ß√µes para An√°lise Avan√ßada:

- **Implementar valida√ß√µes com Great Expectations**
- **Verificar integridade referencial entre datasets**
- **Aplicar as 6 dimens√µes da qualidade de dados**
- **Criar pipelines de monitoramento cont√≠nuo**

### üìö Recursos Relacionados:

- `Lab_DataOps_Governanca_Qualidade.ipynb` - Laborat√≥rio completo
- `Desafio_Final_DataOps.md` - Desafio pr√°tico
- `Conceitos.md` - Fundamentos te√≥ricos